.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
  }
  
  .content-wrapper {
    margin-top: 60px;
    margin-bottom: 40px; 
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
  }