.conteiner-register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f3f3f3;
}

.screen {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  height: 1050px;
  width: 490px;
  box-shadow: 0px 0px 54px -7px rgba(200, 167, 150, 1);
}

.screen__content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 100%;
  max-width: 620px;
}

.register__field {
  padding: 10px 0;
  position: relative;
}

.register__field label {
  font-weight: 600;
  color: #683611;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.register__input,
.register__field select {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: transparent;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  color: #333;
  transition: border-color 0.3s;
}

.register__input:focus,
.register__field select:focus {
  outline: none;
  border-bottom-color: #683611;
}

.register__field select {
  cursor: pointer;
  appearance: none;
}

.register__input:hover,
.register__field select:hover {
  border-bottom-color: #683611;
}

.register__submit {
  background: #96581c;
  font-size: 14px;
  margin-top: 30px;
  padding: 14px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(76, 72, 157, 0.3);
}

.register__submit:hover {
  background: #683611;
}

.register__submit:active {
  transform: scale(0.98);
}

.register__submit:disabled {
  background: #d1d1d4;
  cursor: not-allowed;
}
