.pet-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .pet-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .pet-cards-container {
    grid-template-columns: 1fr;
  }
}
