<div class="ajustes-container">
  <h2>Perfil Adoptador</h2>
  <form [formGroup]="adoptadorForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" />
    </div>
    <div class="form-row">
      <label>Apellido Paterno:</label>
      <input type="text" formControlName="APaterno" />
    </div>
    <div class="form-row">
      <label>Apellido Materno:</label>
      <input type="text" formControlName="AMaterno" />
    </div>
    <div class="form-row">
      <label>Teléfono:</label>
      <input type="text" formControlName="numTelefono" />
    </div>
    <div class="form-row">
      <label>Correo Electrónico:</label>
      <input type="email" formControlName="correoElectronico" />
    </div>
    <div class="form-row">
      <label>Edad:</label>
      <input type="number" formControlName="edad" min="18" max="100" />
    </div>
    <button class="submit-button" type="submit" [disabled]="adoptadorForm.invalid">Crear perfil</button>
    <button class="submit-button" type="submit" [disabled]="adoptadorForm.invalid">Modificar Información</button>
  </form>
</div>
