.historial-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.historial-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.historial-mascotas-section {
  margin-top: 20px;
}

.historial-subtitle {
  color: #cf8025;
  margin-bottom: 15px;
  font-size: 20px;
}

.historial-mascotas-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.historial-mascota-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(150, 88, 28, 0.3);
  transition: transform 0.2s;
}

.historial-mascota-card:hover {
  transform: scale(1.02);
}

.historial-mascota-info {
  text-align: center;
}

.historial-mascota-imagen {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.historial-mascota-nombre {
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.historial-mascota-categoria {
  font-weight: 600;
  color: #555;
}

.historial-mascota-edad {
  color: #777;
}

.historial-donaciones-section,
.historial-solicitudes-section {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}


.historial-donaciones-title,
.historial-solicitudes-title {
  color: #f39c12;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.historial-donaciones-list,
.historial-solicitudes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.historial-donacion-item,
.historial-solicitud-item {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
}

.historial-donacion-monto {
  color: #e67e22;
}

.historial-donacion-fecha,
.historial-solicitud-fecha {
  color: #888;
  font-size: 14px;
}

.historial-solicitud-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.historial-solicitud-accept-button,
.historial-solicitud-deny-button {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.historial-solicitud-accept-button {
  background-color: #ce7227;
  color: white;
}

.historial-solicitud-deny-button {
  background-color: #dc3545;
  color: white;
}

.no-mascotas {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin-top: 20px;
}
