<div class="historial-container">
    <h2>Historial de Mascotas, Donaciones y Solicitudes</h2>
  
    <!-- Sección de mascotas publicadas -->
    <div *ngIf="mascotas && mascotas.length > 0">
      <h3>Mascotas Publicadas</h3>
      <ul>
        <li *ngFor="let mascota of mascotas">
          <strong>{{ mascota.nombre }}</strong> - {{ mascota.categoria }} - {{ mascota.edad }} años
        

          <div *ngIf="mascota.donaciones && mascota.donaciones.length > 0">
            <h3>Donaciones Recibidas</h3>
            <ul>
              <li *ngFor="let donacion of mascota.donaciones">
                Donación de {{ donacion.monto }} por {{ donacion.nombre }} - Fecha: {{ donacion.fechaDonacion }}
              </li>
            </ul>
          </div>


          <div *ngIf="mascota.solicitudes && mascota.solicitudes.length > 0">
            <h3>Solicitudes de Adopción</h3>
            <ul>
              <li *ngFor="let solicitud of mascota.solicitudes">
                <strong>Solicitante:</strong> {{ solicitud.solicitante }} <br />
                <strong>Mascota:</strong> {{ solicitud.mascota }} <br />
                <strong>Estado:</strong> {{ solicitud.estatus }} <br />
                <strong>Fecha de Solicitud:</strong> {{ solicitud.fechaSolicitud }}
                <button (click)="aceptarSolicitud(solicitud.id)">Aceptar</button>
                <button (click)="denegarSolicitud(solicitud.id)">Denegar</button>
              </li>
            </ul>
          </div>


        </li>
      </ul>
    </div>
  

  </div>
  