<div class="pet-detail-container">
  <div class="pet-image-section">
    <img [src]="mascota.image" alt="{{ mascota.nombre }}" />
  </div>
  <div class="mascota-info-section">
    <h2>{{ mascota.nombre }}</h2>
    <h3>Mascota en adopción</h3>
    <p><strong>Género:</strong> {{ mascota.sexo }}</p>
    <p><strong>Categoría:</strong> {{ mascota.categoria }}</p>
    <p><strong>Tamaño:</strong> {{ tamano }}</p>
    <p><strong>Edad:</strong> {{ mascota.edad }}</p>
    <!-- <p><strong>Localización:</strong> {{ rescatista.localizacion }}</p> -->
    <p><strong>padecimiento:</strong> {{ mascota.padecimiento }}</p>
    <button routerLink="/solicitud" class="adopt-button">
      ¡Quiero adoptarlo!
    </button>
  </div>
</div>
