<h1>Angular Router App</h1>
<nav>
  <ul>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >home</a
      >
    </li>
    <li>
      <a
        routerLink="/perfilAdoptante"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >perfilAdoptante</a
      >
    </li>
    <li>
      <a
        routerLink="/perfilRescatista"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >perfilRescatista</a
      >
    </li>
    <li>
      <a
        routerLink="/inforMascota"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >inforMascota</a
      >
    </li>
    <li>
      <a
        routerLink="/solicitud"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >solicitud</a
      >
    </li>
  </ul>
</nav>
<i class="fa fa-home"></i>

<router-outlet></router-outlet>
