
.pet-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 320px;
  padding: 10px;
  margin-top: 50px;
  transition: transform 0.3 ease;
}

app-pet-card:hover{
 transform: translateY(-10px);
}
.pet-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.pet-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.pet-card p {
  margin: 5px 0;
  font-size: 14px;
}

.pet-card .pet-trait {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

.view-more-button {
  background-color: #e6b655;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
