<div class="pet-cards-conteiner">
  <div class="pet-card">
    <img [src]="pet.image" alt="{{ pet.name }}" />
    <h3>{{ pet.nombre }}</h3>
    <p>Sexo: {{ pet.sexo }}</p>
    <p>Tamaño: {{ tamano }}</p> 
    <p>Localización: {{ pet.localizacion }}</p>
    <p>Personalidad: {{pet.personalidad}}</p>
    <div class="pet-trait">
      {{ pet.description }}
    </div>

    <button
      *ngIf="showButton"
      [routerLink]="['/adopcion', pet.id]"
      class="view-more-button"
    >
      Ver más
    </button>
  </div>
</div>
