<div class="ajustes-container">
  <h2>Ajustes</h2>
  <form>
    <div class="form-row">
      <label>Nombre</label>
      <p>{{ rescatista?.nombre || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Apellido Paterno</label>
      <p>{{ rescatista?.APaterno || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Apellido Materno</label>
      <p>{{ rescatista?.AMaterno || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Número de Teléfono</label>
      <p>{{ rescatista?.numTelefono || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Correo Electrónico</label>
      <p>{{ rescatista?.correoElectronico || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Edad</label>
      <p>{{ rescatista?.edad || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Localización</label>
      <p>{{ rescatista?.localizacion || "No disponible" }}</p>
    </div>
    <div class="form-row">
      <label>Eres?</label>
      <p>
        {{ rescatista?.tipoRescatista === 'independiente'
          ? 'Rescatista independiente: Busco un hogar a una mascota'
          : rescatista?.tipoRescatista === 'organización'
          ? 'Rescatista Organización: Buscamos un hogar para las mascotas'
          : ''
        }}
      </p>
    </div>
   
    <button type="button" [routerLink]="['/mascotaForm']" class="submit-button">
      Agregar Mascota Rescatada
    </button>
  </form>
</div>
